* {
    font-family: Inter;
    background-color: #f0f5f8;
}

.feature-container {
    align-items: center;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 60%;
    justify-content: center;
    padding: 70px 120px;
    position: relative;
}