* {
    font-family: Inter;
    background-color: #f0f5f8;
    box-sizing: inherit;
}

.feature-container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 60%;
    justify-content: center;
    padding: 70px 120px;
    position: relative;
}

body {
    box-sizing: border-box;
}

button {
    border: 1px solid #127eb4;
    border-radius: 3px;
    color: #37aeeb;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-right: 14px;
    padding: 10px 10px;
    text-decoration: none;
}

.click-button {
    background: #37aeeb;
    border-radius: 3px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    padding: 13px 16px;
    text-decoration: none;
}