.feature-container {
    align-items: flex-start;
    background-color: #f0f5f8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: start;
    padding: 0px 120px;
    position: relative;
}




