<div class="section master-first-content spartan ls-half">
    <div class="menu-logo">
        <a routerLink="" routerLinkActive="active"><img [src]="logo" alt="logo"></a>
    </div>
    <form #searchSurgeonForm="ngForm" (ngSubmit)="onSubmit(searchSurgeonForm)" class="search-form">
        <input type="text" 
        placeholder="Search a surgeon..." 
        class="search-input"
        [(ngModel)]="surgeonName"
        name="surgeonName">
        <button type="submit" [ngClass]="{'click-button' : isClicked}">search</button>
    </form>
</div>
